.slider .thumb {
    -fx-background-color: #ea8bb8;
}

.slider .track {
    -fx-pref-height: 5px;
}

.thumb{
    -fx-border-width: 1.5px;
    -fx-border-radius: 10px;
    -fx-border-color: #ffffff;
    -fx-pref-width: 15px;
    -fx-pref-height: 15px;
    -fx-background-radius: 10px;
}

.button {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}